.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .highcharts-chart-container{
        .revenue-type-drop-down{

        }
        .revenue-chart{
            
        }
    }

    .revenue-tables-container{

    }

}