.table-container{
  display: flex;
  justify-content: center;
  align-items: center;

  .ReactTable {
    .rt-thead.-header{
      background-color: #4dabf7;
      color: #fff;
      font-weight: bold;
    }
    .rt-tbody{
      text-align: center
    }
  }
}